body {
  background: linear-gradient(
    to right, 
    #ff9a9e 0%,    /* Rosa suave */
    #fecfef 15%,   /* Rosa pálido */
    #a1c4fd 30%,   /* Azul claro */
    #c2e9fb 45%,   /* Cian suave */
    #feada6 60%,   /* Rosa anaranjado */
    #ff9a9e 75%,   /* Rosa suave */
    #fecfef 85%,   /* Rosa pálido */
    #a1c4fd 100%   /* Azul claro */
  );
  color: #333333;
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  padding: 20px;
}

/* Estilo de los títulos */
h1, h2, h3 {
  font-family: 'Poppins', Segoe UI; /* Fuente para los títulos */
  color: black; /* Títulos en color cian suave */
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para los enlaces */
a {
  color: #ffab91; /* Enlaces en color salmón */
  text-decoration: none;
}

a:hover {
  color: #ff7043; /* Efecto hover en los enlaces */
}

/* Estilo de la tabla de contenidos (TOC) */
.toc {
  background-color: #424242; /* Fondo gris más oscuro para la TOC */
  border-left: 4px solid #80deea; /* Línea cian para la TOC */
  padding: 10px;
}

.toc a {
  color: #333333; /* Texto de la TOC en color claro */
}

.toc a:hover {
  color: #80deea; /* Cambia a cian al pasar el mouse */
}

/* Estilo para los párrafos */
p {
  font-size: 1.2em;
  color: #333333; /* Texto claro para mejor legibilidad */
  margin-bottom: 20px;
}